.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 40px;
  border-bottom: 1px solid #e3e3ee;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #c7c9d6;
  padding: 5px 10px;
  max-width: 450px;
  width: 100%;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-avatar-fallback {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #004ac6;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #191b23;
}

.user-role {
  font-size: 14px;
  color: #6e7191;
}
